<%- include ('../user/layout/header.ejs')%>
<%- include ('../user/layout/profileSideBar.ejs')%>

<div class="cart-table-area section-padding-100">
    <div class="container-fluid">
        <div class="row" id="cart">
            <div class="col-12 col-lg-8">
                <div class="cart-table clearfix" id="Cart">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (cartData && cartData.products && cartData.products.length > 0) { %>
                                <% cartData.products.forEach(product => { %>
                                    <tr>
                                        <td class="cart_product_img">
                                            <a href="#"><img src="/products/images/<%- product.productId.images.image1 %>" alt="Product"></a>
                                        </td>
                                        <td class="cart_product_desc">
                                            <h5><%= product.productId.product_name %></h5>
                                        </td>
                                        <td class="price">
                                            <span>₹<%= product.productId.price %></span>
                                        </td>
                                        <td class="qty">
                                            <div class="qty-btn d-flex">
                                                <div class="quantity" >
                                                    <span class="qty-minus" onclick="productQuantity('<%=product.productId._id %>', -1)">
                                                       <i class="fa fa-minus"></i> 
                                                    </span>
                                                    <input type="text" class="qty-text "id="qty-<%= product.productId._id %>" step="1" min="1" name="quantity" value="<%= product.count %>" />
                                                    <span class="qty-plus textalign-center" style="width: 3%;" onclick="productQuantity('<%=product.productId._id %>',1)">
                                                    <i class="fa fa-plus"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="price">
                                            <span>₹<%= product.productId.price * product.count %></span>
                                        </td>
                                        <td class="cart_delete">
                                            <a href="/delete-cart?id=<%=product.productId._id %>"><i class="fa fa-times" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                <% }); %>
                            <% } else { %>
                                <tr>
                                    <td colspan="4">Your cart is empty.</td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>





            <div class="col-12 col-lg-4">
                <div class="cart-summary">
                    <h5>Cart Total</h5>
                    <ul class="summary-table">
                        <% 
                            // Calculate the cart total
                            let cartTotal = 0;
                            if (cartData && cartData.products && cartData.products.length > 0) {
                                cartData.products.forEach(product => {
                                    cartTotal += product.productId.price * product.count;
                                });
                            }

                            // Calculate the delivery charge based on the cart total
                            let deliveryCharge = (cartTotal < 1000) ? 67 : 0;

                            // Calculate the total amount including the delivery charge
                            let totalAmount = cartTotal + deliveryCharge;
                        %>
                        <li><span>Subtotal:</span> <span>₹<%= cartTotal.toFixed(2) %></span></li>
                        <li><span>Delivery:</span> <span>₹<%= deliveryCharge.toFixed(2) %></span></li>
                        <li><span>Total:</span> <span>₹<%= totalAmount.toFixed(2) %></span></li>
                    </ul>
                    <div class="cart-btn mt-100">
                        <a href="/checkout" class="btn amado-btn w-100">Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
<script>
    function productQuantity(id , newval) {
     
        
    $.ajax({
    url: "/update-cart", // Replace with the actual endpoint
    method: "POST",
    data: {
      id: id,
      quantity: newval,
    },
    success: function (response) {
      $("#Cart").load("/cart #Cart");

      // Handle the response if needed
    },
    error: function (error) {
      console.error("Error updating product quantity:", error);
    },
  });

}

</script>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<%- include ('../user/layout/footer.ejs')%>