<%- include ('../user/layout/header.ejs')%>
<%- include ('../user/layout/profileSideBar.ejs')%>

<script>
    function editProfile() {
        var inputFields = document.querySelectorAll('.form-control');

        inputFields.forEach(function (field) {
            field.readOnly = false;
        });

        // Show the Save Changes and Cancel buttons
        document.getElementById('save-changes').style.display = 'block';
        document.getElementById('cancel-edit').style.display = 'block';
        document.getElementById('user-password').style.display = 'block';

        // Hide the Edit button
        document.getElementById('edit-profile').style.display = 'none';
    }

    function cancelEdit() {
        var inputFields = document.querySelectorAll('.form-control');

        inputFields.forEach(function (field) {
            field.readOnly = true;
        });

        // Hide the Save Changes and Cancel buttons
        document.getElementById('save-changes').style.display = 'none';
        document.getElementById('cancel-edit').style.display = 'none';

        // Show the Edit button
        document.getElementById('edit-profile').style.display = 'block';
    }
</script>


<div class="products-catagories-area clearfix">    
    <!-- User Profile Update Form -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 style="color: #fff;">Profile Update</h2>
                <form action="/updateProfile" method="post" enctype="multipart/form-data">
                    <!-- Profile Photo Upload -->
                    <div class="row d-flex justify-content-center">
                        <div class="row d-flex justify-content-between">
                            <div class="col-lg-5 col-md-8 rounded-image-preview" style="text-align: center;">
                                <label for="imageInput1" id="profile-photo" class="image-label" style="color: #333; margin-bottom: 10px;">Profile Photo</label>
                                <div class="rounded-image-preview" style="border: 2px solid #FFA500; padding: 10px; background-color: #fff;">
                                    <img id="imagePreview1" src="https://www.creativefabrica.com/wp-content/uploads/2021/04/05/Image-Upload-Icon-Graphics-10388650-1-580x386.jpg" alt="Preview" style="max-width: 100%; max-height: 100%; border-radius: 50%;">
                                </div>
                                <input name="image1" type="file" accept="image/*" id="imageInput1" class="imageInput" style="display: none;">
                            </div>
                        </div>
                    </div>
                    

                    <!-- User Name Update -->
                    <div class="form-group">
                        <label for="user-name" style="color: #FFA500;">User Name</label>
                        <input type="text" id="user-name" name="user-name" class="form-control" value="<%= userDa.name %>" readOnly>
                    </div>
                    <!-- User Email Update -->
                    <div class="form-group">
                        <label for="user-email" style="color: #FFA500;">User Email</label>
                        <input type="text" id="user-email" name="user-email" class="form-control" value="<%= userDa.email %>" readOnly>
                    </div>
                    <!-- User Password Update -->
                    <div class="form-group">
                        <label for="user-password" style="color: #FFA500;">User Password</label>
                        <input type="password" id="user-password" name="user-password" style="display: none;" class="form-control" readOnly>
                    </div>
                    <!-- User Phone Update -->
                    <div class="form-group">
                        <label for="user-phone" style="color: #FFA500;">User Phone</label>
                        <input type="text" id="user-phone" name="user-number" class="form-control" value="<%= userDa.phone %>" readOnly>
                    </div>

                    
                    <!-- Save Changes, Edit, and Cancel Buttons -->
                    <a href="/saveProfile" class="btn btn-warning change-photo-button" id="save-changes" style="display: none;">
                        <i class="fa fa-floppy-o custom-icon" aria-hidden="true"></i> Save Changes
                    </a>
                    <a onclick="editProfile()" class="btn btn-warning change-photo-button" id="edit-profile">
                        <i class="fa fa-pencil-square custom-icon" aria-hidden="true"></i> Edit
                    </a>
                    <a onclick="cancelEdit()" class="btn btn-danger change-photo-button" id="cancel-edit" style="display: none;">
                        <i class="fa fa-times custom-icon" aria-hidden="true"></i> Cancel
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
<%- include ('../user/layout/footer.ejs')%>
