<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form by RusticLens</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="/user/fonts/material-icon/css/material-design-iconic-font.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Main css -->
    <link rel="stylesheet" href="/user/css/style.css">
    <script>
        // JavaScript function to update the error message using the fetch API
        function clearErrorMessage(fieldId) {
            const errorMessage = document.getElementById(fieldId);
            if (errorMessage) {
                errorMessage.style.display = 'none';
            }
        }
        $(document).ready(function () {
				const signUpForm = $('#register-form');
				const submitButton = signUpForm.find('button[type="submit"]');

				signUpForm.submit(function (event) {
					if (!validateForm()) {
						event.preventDefault();
					}
				});

				// Use input event to trigger validation on user input
				signUpForm.find('input').on('input', function () {
					validateForm();
				});

				function validateForm() {
                    let isValid = true;

                    // Clear existing error messages
                    $('#emailErrorMsg').text(''); 
                    $('#passwordErrorMsg').text('');
                    $('#numberErrorMsg').text(''); 
                    $('#nameErrorMsg').text(''); 
                    


                    const name = $('#name').val();
                    const email = $('#email').val();
                    const password = $('#password').val();
                    const number = $('#phone').val();
                    const confirm_password = $('#confirm_password').val();
                    
                    // Validate email
                    const regex = /^[a-zA-Z0-9._]+@(gmail\.com|icloud\.com|yahoo\.com|outlook\.com|hotmail\.com)$/;
                    if (!regex.test(email)) {
                        console.log("email not valid");
                        $('#emailErrorMsg').text('Please enter a valid email address.');
                        isValid = false;
                    }

                    // Validate password complexity
                    const passwordRegex = /^(?=.*[A-Za-z])(?=.*\d).{8,}$/;
                    if (!passwordRegex.test(password)) {
                        console.log("password not valid");
                        $('#passwordErrorMsg').text('Password must be 8 characters long and include at least one uppercase letter, one lowercase letter, one special character, and one number.');
                        isValid = false;
                    }

                    // Validate phone number
                    const phoneRegex = /^\d{10}$/;
                    if (!phoneRegex.test(number)) {
                        console.log("number not valid");
                        $('#numberErrorMsg').text('Please enter a valid 10-digit phone number.');
                        isValid = false;
                    }

                    // Validate name must be at least 3 characters
                    if (name.length < 3) {
                        console.log("name not valid");
                        $('#nameErrorMsg').text('Name must be at least 3 characters long.');
                        isValid = false;
                    }

                    // Validate password and confirm password match
                    if (password !== confirm_password) {
                        console.log("password not valid");
                        $('#passwordErrorMsg').text('Passwords do not match.');
                        isValid = false;
                    }

                    // Enable/disable the submit button based on the overall validation status
                    submitButton.prop('disabled', !isValid);
                    console.log("isValid", isValid);

                    return isValid;
                }
			});
    </script>
</head>
<body>

    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container"> 
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <form method="POST" action="/signup" class="register-form" id="register-form">
                            <%if(locals.nameErrorMsg || locals.emailErrorMsg || locals.numberErrorMsg || locals.passwordErrorMsg) {%>
                            <div class="errorsFromBackend">
                                <div class="alert alert-danger">
                                    <%= locals.nameErrorMsg %>
                                    <%= locals.emailErrorMsg %>
                                    <%= locals.numberErrorMsg %>
                                    <%= locals.passwordErrorMsg %>
                                    <%= locals.confirm_password %>
                                </div>
                            </div>
                            <%}%>
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                
                                <input type="text" name="name" id="name" placeholder="Your Name">
                                
                                <span id="nameErrorMsg" style="color: red; display: block;"></span>

                            </div>
                
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                
                                <input type="email" name="email" id="email" placeholder="Your Email" >
                                
                                <span id="emailErrorMsg" style="color: red; display: block;"></span>
                                

                            </div>
                            
                               
                            <div class="form-group">
                                <label for="phone"><i class="zmdi zmdi-phone"></i></label>
                                 
                                <input type="number" name="phone" id="phone" placeholder="Your number">
                                
                                <span id="numberErrorMsg" style="color: red; display: block;"></span>
                            </div>
                            <div class="form-group">
                                <label for="password"><i class="zmdi zmdi-lock"></i></label>
                                
                                <input type="password" name="password" id="password" placeholder="Password" >
                                
                                <span id="passwordErrorMsg" style="color: red; display: block;"></span>
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="password" name="confirm_password" id="re_pass" placeholder="Repeat your password">
                                <span id="confirm_password" style="color: red; display: block;"></span>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" required/>
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                            </div>
                            <div class="form-group form-button">
                                
                                <button type="submit" name="signup" id="signup" class="form-submit" value="Register">Register</button>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <form action="/signin" method="post">
                            <figure><img src="/user/images/signup-image.jpg" alt="sing up image"></figure>
                            <a href="/signIn" class="signup-image-link">I am already member</a>    
                        </form>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script>
        // Call clearErrorMessage when any input field is changed
        const inputFields = document.querySelectorAll('input');
        inputFields.forEach((input) => {
            input.addEventListener('input', clearErrorMessage);
        });
    </script>
    <script src="/user/vendor/jquery/jquery.min.js"></script>
    <script src="/user/js/main.js"></script>
</body>
</html>